<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Home</h2>
      <p>
        Whilst there is a magic and mystery in the name Unicorn, there is no
        mystery when it comes to the production of this top quality mink. The
        Unicorn label is the flagship brand of a family mink ranching business
        that dates back over 55 years. It all began with a deep passion for fur,
        a dedication to quality and a vision to the future.
      </p>
    </div>
    <div class="col">
      <img [src]="imagesrc.url" />
    </div>
  </div>
</div>
